.bgPicContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}


.featuredHead h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.featuredContent {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;
}

.featuredContent > div {
  flex: 1 1 250px;
  max-width: 300px;
}

@media only screen and (max-width: 1200px) {
  .featuredHead h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .featuredHead h1 {
    font-size: 28px; /* Adjust heading size */
  }
  .featuredContent > div {
    flex: 1 1 220px; /* Adjust card size */
  }
}

@media only screen and (max-width: 768px) {
  .featuredHead h1 {
    font-size: 26px;
  }
  .featuredContent > div {
    flex: 1 1 45%;
  }
}

@media only screen and (max-width: 450px) {
  .bgPicContainer{
    height: calc(100vh - 57px);
  }
  .featuredContent{
    justify-content: center;
  }
  .featuredHead h1 {
    font-size: 24px;
  }
  .cardContainer {
    width: 95%;
  }
  .featuredContent > div {
    flex: 1 1 100%;
  }
}
