.bgPicContainer {
  position: relative;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}

.bgImage {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: -1;
}

.cardSection {
  margin-top: 50px;
}

.featuredHead h1 {
  font-size: 32px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 20px;
}

.featuredContent {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  gap: 20px;
  width: 90%;
  margin: auto;
}

@media only screen and (min-width: 2000px) {
  .bgPicContainer {
    height: 700px;
  }
}

@media only screen and (max-width: 1200px) {
  .featuredHead h1 {
    font-size: 30px;
  }
}

@media only screen and (max-width: 992px) {
  .featuredHead h1 {
    font-size: 28px;
  }
}

@media only screen and (max-width: 768px) {
  .featuredHead h1 {
    font-size: 26px;
  }
}

@media only screen and (max-width: 450px) {
  .bgPicContainer {
    height: calc(100vh - 57px);
  }
  .featuredContent {
    grid-template-columns: repeat(auto-fit, minmax(100%, 1fr));
  }
  .featuredHead h1 {
    font-size: 24px;
  }
}
