.card-container {
  flex: 1 1 250px;
  min-height: 300px;
  max-width: 300px;
  width: 100%;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 20px;
  cursor: pointer;
  position: relative;
  background-color: #fff;
}

.image-slider {
  position: relative;
  width: 100%;
  height: 250px;
  overflow: hidden;
}

.slider-image {
  width: 100%;
  height: 250px;
  object-fit: cover;
}

.card-content {
  padding: 16px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.card-title {
  font-size: 18px;
  color: #000;
  font-weight: bold;
  margin: 0;
}

.card-host {
  font-size: 14px;
  color: gray;
  margin: 4px 0;
}

.card-status {
  font-size: 14px;
  color: red;
  margin: 4px 0;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}

.favorite-icon {
  font-size: 16px;
  color: red;
  padding: 5px;
  border-radius: 50%;
  cursor: pointer;
}

.view-details {
  font-size: 14px;
  color: blue;
  cursor: pointer;
}

.slick-dots {
  position: absolute !important;
  bottom: 20px !important;
  width: 100% !important;
  display: flex !important;
  justify-content: center !important;
  padding: 0 !important;
  margin: 0 !important;
  z-index: 10 !important;
}

.slick-dots li {
  margin: 0 2px !important;
}

.slick-dots li button:before {
  font-size: 8px !important;
  color: #ffffff7e !important;
  opacity: 1 !important;
}

.slick-dots li.slick-active button:before {
  color: #fff !important;
}

.controlBtn {
  display: none;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  width: 22px;
  height: 22px;
  color: rgba(0, 0, 0, 0.8);
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.8);
  font-size: 14px;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
  z-index: 10;
}

.controlBtn.next {
  right: 15px;
}

.controlBtn.prev {
  left: 15px;
}

.image-slider:hover .controlBtn {
  display: flex;
  align-items: center;
  justify-content: center;
}
