footer {
  background: linear-gradient(135deg, #5d4d61, #B05EA0)   ;
  color: white;
  margin-top: 100px;
  padding: 50px 20px;
  overflow: hidden;
}

footer .footContainer {
  display: grid;
  grid-template-columns: 6fr 2fr 2fr;
  grid-gap: 30px;
}
footer ul {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}
footer ul li {
  margin-right: 30px;
  cursor: pointer;
}
footer i {
  width: 60px;
  height: 60px;
  display: flex;
  border-radius: 50%;
  background-color: rgba(255, 255, 255, 0.2);
  text-align: center;
  margin-right: 20px;
  margin-top: 50px;
  padding-top: 10px;
  cursor: pointer;
  font-size: 40px;
}

footer p {
  padding: 0 10px;
}

footer .img {
  margin-top: 40px;
  margin-left: 20px;
}
footer span {
  font-size: 12px;
}

.flexli {
  display: flex;
  justify-content: space-around;
}

.flexi {
  display: flex;
  justify-content: center;
}

.boxSocial{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.footerLogo {
  display: flex;
  align-items: center;
}

.footerLogo span {
  margin-left: 20px;
}

.disclaimerShort {
  display: none;
}

.box h3 {
  text-align: center;
}

@media only screen and (max-width: 768px) {
  footer .footContainer {
    grid-template-columns: 10fr 0;
    grid-gap: 30px 0;
  }
  .box {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .boxSocial{
    z-index: -10;
  }
}

@media only screen and (max-width: 450px) {
  footer ul {
    flex-direction: column;
    align-items: center;
    margin-left: 50px;
  }
  .disclaimer {
    display: none;
  }
  .disclaimerShort {
    display: block;
  }
}